.moving-icon {
    position: relative;
    right: 0;
    opacity: 0;
    animation: moveAndFade 3s infinite;
}

.moving-icon2 {
    position: relative;
    right: 0;
    opacity: 0;
    animation: moveAndFade 1s infinite;
}

.icon1 {
    animation-delay: 1.2s;
}

.icon2 {
    animation-delay: 2s;
}

.icon3 {
    animation-delay: 3s;
}

.icon4 {
    animation-delay: 1.8s;
}

.icon5 {
    animation-delay: 2.5s;
}

.icon3 {
    animation-delay: 3.5s;
}

@keyframes moveAndFade {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        opacity: 1;

    }

    100% {
        left: 100%;
        opacity: 0;

    }
}


.letras {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #18bdec;
    animation: typing 5s steps(30) 1s normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.movimientoRev {
    animation-duration: 2s;
    animation-name: slideinRev;
}

@keyframes slideinRev {
    from {
        opacity: 0;
        margin-top: 100%;
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.aparecer {
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

.aparecer2 {
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.shake {
    animation: shake 0.3s infinite alternate;
}

@keyframes shake {
    0% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0deg) scale(.9);
    }

    100% {
        transform: rotateZ(5deg);
    }
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #06b5d459;
    box-shadow: 0px 0px 150px 50px #06b6d4;
    border-radius: 50%;
    pointer-events: none;
    /* Evita que el elemento interfiera con los eventos del mouse */
    z-index: 9999;
    /* Asegura que el "box shadow" esté por encima de otros elementos */
}